body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  color: green; /*secondary color */
}

h1 {
  color: blue; /* primary */
  font-size: 32px;
  margin-bottom: 16px;
}
button {
  color: blue; /* primary color*/
  font-size: 16px;
  padding: 12px 20px;
  border: 2px solid blue;
  border-radius: 4px;
}

.secondary {
  background-color: rgba(128, 128, 128, 0.057);
  color: green; /* secondary color */
  font-size: 16px;
  padding: 12px 20px;
  border: 2px solid green;
  border-radius: 4px;
}
.warning {
  color: rgb(180, 70, 60); /* accent color */
  font-size: 16px;
  margin-top: 16px;
}
/* i used the same colors to avoid repetition of colors*/
