body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    color:teal; /*secondary color */
  }
  
  h1 {
    color:red; /* primary */
    font-size: 36px;
    margin-bottom: 18px;
  }
  button {
    color:red; /* primary color*/
    font-size: 14px;
    padding: 15px 20px;
    border: 1.5px solid blue;
    border-radius: 4px;
  }
  
  .secondary {
    background-color: rgba(128, 128, 128, 0.418);
    color:slateblue; /* secondary color */
    font-size: 21px;
    padding: 15px 20px;
    border: 4px solid orangered;
    border-radius: 4px;
  }
  .warning {
    color: rgb(150,60,52); /* accent color */
    font-size: 21px;
    margin-top: 14px;
  }
  /* i used the same colors to avoid repetition of colors*/